= provide(:title, current_user.username)
%div.row
  %div.medium-4.columns
    %div= link_to('Create a new challenge', new_challenge_path)
    %div= link_to('View Created Challenges', user_created_challenges_path)
    %div= link_to('View All Challenges', challenges_path)
