%div.row
  %div.small-12.columns
    %h1  Welcome to Interview Anki

    %h3 Interview Anki??
    %h5 Interview Anki helps you study for a programming interview by using spaced repetition. Through interfacing with HackerRank, you can code your solutions in browser and retrieve fast responses.
    %ul
      %li Add existing challenges (or new ones you create!) to your deck to create your Anki system.
      %li Attempt and complete challenges.
      %li Once you complete a challenge, you'll decide when you want to see the challenge again.
      %ul
        %li Recently added challenges will provide shorter time spans (10 minutes, 1-5 days).
        %li Older challenges will offer more distant options (1 month, 3 months, 6 months).
    %br
    %h2.text-center= link_to 'Sign Up Now!', new_user_registration_path
