= provide(:title, 'New Challenge')
%div.row
  %div.small-12.columns
    %h2 Create new Challenge
    = form_for(@challenge, url: { action: :create }) do |f|
      = render 'form', { f: f, language_options: @language_options }
      %div.actions
        = f.submit 'Submit', { class: :button }
